<!DOCTYPE html>
<html lang="en">


<%- include('./partials/header.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="blogs content">
                <h1>All Blogs</h1>
                <% if (blogs.length> 0){ %>
                    <% blogs.forEach(data=>{ %>
                        <a class="single" href="/blogs/<%= data._id %>">
                            <h3 id="title">
                                <%= data.title %>
                            </h3>
                            <p id="snippet">
                                <%= data.snippet %>
                            </p> 
                        </a>
                        <% }) %>
                            <% } else { %>
                                <p>There is no Blogs to Display...</p>
                                <% } %>

            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>